.cell {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  float: left;
  margin: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pastel-lime, .ui.button.pastel-lime {
  background-color:	#dcedc1;
}
.pastel-blue, .ui.button.pastel-blue {
  background-color: #a8e6cf;
}
.pastel-pink, .ui.button.pastel-pink {
  background-color: #ffd3b6;
}
.pastel-medium-pink, .ui.button.pastel-medium-pink {
  background-color: #ffaaa5;
}
.pastel-dark-pink, .ui.button.pastel-dark-pink {
  background-color: #ff8b94;
}

.ui-button:hover {
  k
}

.dead {
  background-color: #444;
}

button {
  margin-top: 30px;
}

#controls {
  margin: 15px;
}

#game-board, #controls {
  animation-duration: 2s;
  animation-name: fadein;
}

body {
  background-color: #444 !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
