.cell {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  float: left;
  margin: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.alive {
  background-color: limegreen;
}

.dead {
  background-color: #ddd;
}

button {
  margin-top: 30px;
}

#controls {
  margin: 15px;
}

#game-board, #controls {
  animation-duration: 2s;
  animation-name: fadein;
}

body {
  background-color: #444 !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
